
//Colors
$primary-color-1: hsl(300, 43%, 22%); //Very dark magenta
$primary-color2: hsl(333, 80%, 67%); //Soft pink

$neutral-color-1: hsl(303, 10%, 53%); //Dark Grayish Magenta
$neutral-color-2: hsl(300, 24%, 96%); //Light Grayish Magenta
$neutral-color-3:  hsl(0, 0%, 100%); //White

//Font 
$font-size: 15px;
$font-family: "League Spartan", sans-serif;
; // LEAGUE SPARTAN FROM GOOGLE
// Font weights 400, 500, 700
// - Family: [League Spartan](https://fonts.google.com/specimen/League+Spartan)

//Resolutions
$lowest-mobile: 320px;
$mobile: 375px;
$desktop: 1440px;